<% provide(:title, "Top") %>

<div class="top-page">

  <div class="title-acount">
    <center>
      <a1>TaskApp</a1>
        <p>TaskAppは簡易ToDo管理ツールです。</p>
        <p2>↓↓初めてのご利用↓↓</p2>
      <button onclick="location.href='signup' "class="btn btn-success">アカウント作成</button>
    </center>
  </div>
  
  
  
  <div class="top-login">
    <a2>ログイン</a2>
    
    <div class="row">
      <div class="col-md-6 colmd-offset-3">
        <%= form_with(scope: :session, url: login_path, local:true) do |f| %>
        
          <%= f.label :email, class: "label-login" %>
          <%= f.email_field :email, class: 'form-control' %>
          
          <%= f.label :password, class: "label-login" %>
          <%= f.password_field :password, class: 'form-control' %>
          
          <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
          
          <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login"%>
          
        <% end %>
      </div>
    </div>
  </div>
</div>

