<% provide(:title, @user.name) %>
<h1>プロフィール</h1>

<div class="row">
  <table class="table table-bordered table-condensed user-table table-hover">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :ID %></th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :名前 %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :メールアドレス %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :作成日 %></th>
          <td><%= @user.created_at %></td>
        </tr>
        
      </thead>

    </table>
  </div>    
</div>
